<table style="border-collapse: separate; width:100%;border:none;background:transparent;">
    <tbody>
        <tr style="background:transparent">
        <td style="padding-left:1rem;" colspan="2"><h3>Lorem</h3></td>
        <td style="padding-left:1rem;" colspan="2"><h3>Ipsum</h3></td>
        <td style="padding-left:1rem;" colspan="2"><h3>Dolor</h3></td>
        </tr>
        <tr style="background:transparent">
            <td style="width:15%;padding:0;margin:0">
                <img style="-webkit-mask-size: 100% 100%; -webkit-mask-image: url('modules/foundry-quest-log-ru/assets/mask/mask1.webp'); object-fit: cover; border: none; border-radius: 5px; width: 90%;margin-left: 5%; aspect-ratio: 1/1" src="https://source.unsplash.com/random">
            </td>
            <td style="padding-left:1rem;">
                <p style="font-size: 0.7em;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos dolor ipsa illum maiores debitis laborum non minima repellendus mollitia sequi porro molestias, dignissimos expedita magnam voluptatem earum, incidunt, molestiae voluptas.</p>
            </td>
            <td style="width:15%;padding:0;margin:0">
                <img style="-webkit-mask-size: 100% 100%; -webkit-mask-image: url('modules/foundry-quest-log-ru/assets/mask/mask1.webp'); object-fit: cover; border: none; border-radius: 5px; width: 90%;margin-left: 5%; aspect-ratio: 1/1" src="https://source.unsplash.com/random">
            </td>
            <td style="padding-left:1rem;">
                <p style="font-size: 0.7em;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos dolor ipsa illum maiores debitis laborum non minima repellendus mollitia sequi porro molestias, dignissimos expedita magnam voluptatem earum, incidunt, molestiae voluptas.</p>
            </td>
            <td style="width:15%;padding:0;margin:0">
                <img style="-webkit-mask-size: 100% 100%; -webkit-mask-image: url('modules/foundry-quest-log-ru/assets/mask/mask1.webp'); object-fit: cover; border: none; border-radius: 5px; width: 90%;margin-left: 5%; aspect-ratio: 1/1" src="https://source.unsplash.com/random">
            </td>
            <td style="padding-left:1rem;">
                <p style="font-size: 0.7em;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos dolor ipsa illum maiores debitis laborum non minima repellendus mollitia sequi porro molestias, dignissimos expedita magnam voluptatem earum, incidunt, molestiae voluptas.</p>
            </td>
        </tr>
    </tbody>
</table>