<div style="position: relative;color: var(--color-text-dark-1);background-color: #a7a29c;border-left: 2px solid #63605c;border-right: 2px solid #63605c; padding: 0.5em;">
<div style="top:0;left:-1px; transform: translate(-50%,-50%); width: 4px; height: 4px; border-radius: 50%;background: #63605c;position: absolute;"></div>
<div style="top:0;right:-1px; transform: translate(50%,-50%); width: 4px; height: 4px; border-radius: 50%;background: #63605c;position: absolute;"></div>
<div style="bottom:0;left:-1px; transform: translate(-50%,50%); width: 4px; height: 4px; border-radius: 50%;background: #63605c;position: absolute;"></div>
<div style="bottom:0;right:-1px; transform: translate(50%,50%); width: 4px; height: 4px; border-radius: 50%;background: #63605c;position: absolute;"></div>


    <p><em>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni asperiores dicta vitae veritatis. Aut atque nobis voluptatem at alias, quam similique corrupti mollitia nihil laboriosam, consequuntur quibusdam ut, quos nesciunt.</em></p>
</div>