<table style="width: 100%; border: none; background: transparent">
    <tbody><tr style="background: transparent">
            <td style="vertical-align: top;width: 70%;padding: 2rem; font-size: 1.5rem;">
                <strong style="font-size: 1.2em;">Lorem Ipsum</strong>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci obcaecati, nihil alias ab commodi quasi aliquid. Assumenda maiores, esse laudantium, atque amet alias eum qui, optio voluptate dolores sequi mollitia!</p>
                <h3>Ipsum Lorem</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, vitae, magnam nihil ipsa sit facere commodi tempore error deleniti maiores, doloremque eos debitis explicabo iusto voluptate. Consequatur quia tempora sunt!</p>
                <h3>Ipsum Lorem</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, vitae, magnam nihil ipsa sit facere commodi tempore error deleniti maiores, doloremque eos debitis explicabo iusto voluptate. Consequatur quia tempora sunt!</p>
            </td>
            <td style="vertical-align: top;width: 30%; padding: 0; margin: 0;">
                <article>
                    <table style="border: none; background: none;background:#ffffff0d; border-top: 1px solid; border-bottom: 1px solid; border-spacing: 1rem;
                    border-collapse: separate;">
                            <tbody>
                                <tr style="border: none; background: none;">
                                    <td>
                                        <strong>When</strong> 12/12/2021
                                    </td>
                                    <td>
                                        <strong>Where</strong> Lorem
                                    </td>
                                    <td>
                                        <strong>Who</strong> Lorem
                                    </td>
                                  </tr>
                              <tr style="border: none; background: none;">
                                <td>
                                    <strong>When</strong> 12/12/2021
                                </td>
                                <td>
                                    <strong>Where</strong> Lorem
                                </td>
                                <td>
                                    <strong>Who</strong> Lorem
                                </td>
                              </tr>
                    </table>

                    <table style="margin-top: 1rem;border: none; background: none;background:#ffffff0d; border-top: 1px solid; border-bottom: 1px solid; border-spacing: 1rem;
                    border-collapse: separate;">
                        <tbody>
                            <tr style="border: none; background: none;">
                                <td>
                                    <h3>Lorem</h3>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum similique tempore, cumque consectetur veniam distinctio nobis labore cupiditate! Quam, ratione necessitatibus consequuntur vitae fugiat id neque quis rerum numquam corrupti.</p>
                                </td>
                              </tr>
                          <tr style="border: none; background: none;">
                            <td>
                                <h3>Ipsum</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam autem nulla exercitationem dolores nostrum rerum, magnam maiores alias minus accusamus, sed aperiam, assumenda corrupti soluta amet voluptates? Vero, inventore ipsam!</p>
                            </td>
                          </tr>
                </table>

                </article>
            </td>
</tr></tbody>
</table>