<h3>Lorem Ipsum</h3>
<table style="border-spacing: 0 0.5rem;border-collapse: separate; width:100%;border:none;background:#ffffff0d; border-top: 1px solid; border-bottom: 1px solid;">
    <tbody><tr style="background:transparent">
            <td style="padding:1rem;">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos dolor ipsa illum maiores debitis laborum non minima repellendus mollitia sequi porro molestias, dignissimos expedita magnam voluptatem earum, incidunt, molestiae voluptas.</p>
            </td>
            <td style="width:20%;padding:0;margin:0">
                <img style="-webkit-mask-size: 100% 100%; -webkit-mask-image: url('modules/foundry-quest-log-ru/assets/mask/mask1.webp'); object-fit: cover; border: none; border-radius: 5px; width: 90%;margin-left: 5%; aspect-ratio: 1/1" src="https://source.unsplash.com/random">
            </td>
</tr></tbody>
</table>