<table style="width: 100%; border: none; background: transparent">
    <tbody><tr style="background: transparent">
            <td style="vertical-align: top;width: 70%;padding: 2rem; font-size: 1.5rem;">
                <strong style="font-size: 1.2em;">Lorem Ipsum</strong>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci obcaecati, nihil alias ab commodi quasi aliquid. Assumenda maiores, esse laudantium, atque amet alias eum qui, optio voluptate dolores sequi mollitia!</p>
                <h3>Ipsum Lorem</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, vitae, magnam nihil ipsa sit facere commodi tempore error deleniti maiores, doloremque eos debitis explicabo iusto voluptate. Consequatur quia tempora sunt!</p>
                <h3>Ipsum Lorem</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, vitae, magnam nihil ipsa sit facere commodi tempore error deleniti maiores, doloremque eos debitis explicabo iusto voluptate. Consequatur quia tempora sunt!</p>
            </td>
            <td style="vertical-align: top;width: 30%; padding: 0; margin: 0;">
                <img style="-webkit-mask-size: 100% 100%; -webkit-mask-image: url('modules/foundry-quest-log-ru/assets/mask/mask1.webp'); object-fit: cover; border: none; border-radius: 5px; width: 100%; aspect-ratio: 1/1.5" src="https://source.unsplash.com/random">
                <article style="background:#ffffff0d; border-top: 1px solid; border-bottom: 1px solid; padding: 0.3rem 1rem">
                    <p>
                        <strong>Name</strong>
                    </p>
                    <p>
                        Lorem
                    </p>
                    <p>
                        <strong>Age</strong>
                    </p>
                    <p>
                        1345
                    </p>
                    <p>
                        <strong>Race</strong>
                    </p>
                    <p>
                        Lorem
                    </p>

                </article>
            </td>
</tr></tbody>
</table>